{% extends "base.html" %}
{% block title %}회사소개 - Bestern{% endblock %}
{% block content %}

<!-- Hero Banner -->
<section class="relative h-[320px] md:h-[420px]">
  <img src="{{ url_for('static', filename='img/company.jpg') }}" class="w-full h-full object-cover" alt="회사 건물 전경" />
  <div class="absolute inset-0 bg-black/60 backdrop-brightness-75 flex items-center justify-center">
    <div class="text-white text-center px-4">
      <h1 class="text-4xl md:text-5xl font-bold tracking-wide leading-snug font-bestern">신뢰를 자산으로</h1>
      <p class="mt-4 text-lg md:text-xl text-gray-200">
        <span class="font-bestern">BESTERN</span>은 자산관리의 기준을 만듭니다.
      </p>
    </div>
  </div>
</section>

<!-- 회사 소개 메시지 -->
<section class="max-w-5xl mx-auto px-6 py-24 text-center">
  <h2 class="text-3xl md:text-4xl font-bold mb-10 text-[#401E01] tracking-tight">인사말</h2>

  <div class="border border-[#8C613B] bg-transparent p-8 md:p-12 rounded-xl text-[#401E01] text-base md:text-lg leading-relaxed tracking-tight text-justify">
    <p>
      안녕하십니까. 
      <br><br> 베스턴 자산운용의 홈페이지를 방문해 주셔서 진심으로 감사드립니다.
      베스턴 자산운용은 부동산 및 부실채권(NPL) 관리에 특화된 전문 자산운용사로, 다양한 금융기관 및 투자자들과 함께 쌓아온 풍부한 경험을 바탕으로 신뢰받는 파트너로 성장해왔습니다.
      저희는 급변하는 금융 환경 속에서도 고객의 자산을 가장 안전하고 투명하게 운용하는 것을 최우선으로 하며, 전문적인 자산관리 역량과 체계적인 리스크 관리 시스템을 통해 차별화된 가치를 제공하고자 합니다.
      앞으로도 고객과의 신뢰를 바탕으로 지속가능한 성장을 추구하며, 사회적 책임과 윤리, 또한 사회적 환원을 실천하는 기업이 되겠습니다. 여러분의 변함없는 관심과 성원 부탁드립니다.

      <br><br>감사합니다.
    </p>
  </div>
</section>

{% endblock %}