<!-- footer.html -->
<footer class="bg-[#1a1a1a] text-white py-10 text-sm mt-20">
  <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-10">
    
    <!-- 회사 정보 -->
    <div>
      <p class="font-bestern text-lg text-[#c0b5ab] mb-3">BESTERN AMC</p>
      <address class="not-italic text-sm leading-relaxed text-gray-300">
        서울특별시 강남구 봉은사로 328, 3층 (역삼동, 창일빌딩)<br>
        대표번호: +82 2 510 5900<br>
        팩스: +82 2 510 5901<br>
        이메일: <a href="mailto:emlee@thebestamc.com" class="underline underline-offset-4 hover:text-[#e0d7cf] transition">emlee@thebestamc.com</a>
      </address>
    </div>

    <!-- 기타 -->
    <div>
    <h3 class="font-semibold text-[#c0b5ab] mb-2">>게시판</h3>
    <ul class="space-y-2 text-sm">
        <li><a href="/management/board/policy" class="hover:underline hover:text-[#755d46]">개인채무자보호법 관련 내부 기준</a></li>
        <li><a href="/management/board/auction" class="hover:underline hover:text-[#755d46]">경매 예정 통지서</a></li>
        <li><a href="/management/board/notice" class="hover:underline hover:text-[#755d46]">개인 채무자보호 관련 공고</a></li>
        <li><a href="/management/board/privacy" class="hover:underline hover:text-[#755d46]">개인정보 처리방침</a></li>
        <li><a href="/management/board/assets" class="hover:underline hover:text-[#755d46]">기타 유동화 자산관련 공고</a></li>
        <li><a href="/management/board/qna" class="hover:underline hover:text-[#755d46]">QnA</a></li>
    </ul>
    </div>

    <div>
      <p class="font-semibold text-[#c0b5ab] mb-2">기타</p>
      <a href="/notice" class="block hover:text-[#e0d7cf] transition">공지사항</a>
      <a href="/contact" class="block hover:text-[#e0d7cf] transition">연락처</a>
      <a href="/privacy" class="block hover:text-[#e0d7cf] transition">개인정보처리방침</a>
    </div>
  </div>

  <div class="mt-8 text-center text-gray-400 text-xs">
    © 2025 BESTERN AMC. All rights reserved.
  </div>
</footer>